@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome To GC Coffee Shop!</h1>
<form action="/Home/AddUser" method="get">
    <input type="submit" value="Register Here" />
</form>
<br />
<br />
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    @foreach (var item in ViewBag.ItemList)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
        </tr>

    }


</table>